<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.worxfr.dao.BookChapterMapper">
  <resultMap id="BaseResultMap" type="com.worxfr.pojo.BookChapter">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="word_count" jdbcType="INTEGER" property="wordCount" />
    <result column="chapter_id" jdbcType="INTEGER" property="chapterId" />
    <result column="chapter_time" jdbcType="BIGINT" property="chapterTime" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="state" jdbcType="CHAR" property="state" />
  </resultMap>
  <sql id="Base_Column_List">
    id, url, title, word_count, chapter_id, chapter_time, create_time, state
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from book_chapter
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from book_chapter
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.worxfr.pojo.BookChapter">
    insert into book_chapter (id, url, title, 
      word_count, chapter_id, chapter_time, 
      create_time, state)
    values (#{id,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{wordCount,jdbcType=INTEGER}, #{chapterId,jdbcType=INTEGER}, #{chapterTime,jdbcType=BIGINT}, 
      #{createTime,jdbcType=BIGINT}, #{state,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.worxfr.pojo.BookChapter">
    insert into book_chapter
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="wordCount != null">
        word_count,
      </if>
      <if test="chapterId != null">
        chapter_id,
      </if>
      <if test="chapterTime != null">
        chapter_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="state != null">
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="wordCount != null">
        #{wordCount,jdbcType=INTEGER},
      </if>
      <if test="chapterId != null">
        #{chapterId,jdbcType=INTEGER},
      </if>
      <if test="chapterTime != null">
        #{chapterTime,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="state != null">
        #{state,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.worxfr.pojo.BookChapter">
    update book_chapter
    <set>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="wordCount != null">
        word_count = #{wordCount,jdbcType=INTEGER},
      </if>
      <if test="chapterId != null">
        chapter_id = #{chapterId,jdbcType=INTEGER},
      </if>
      <if test="chapterTime != null">
        chapter_time = #{chapterTime,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.worxfr.pojo.BookChapter">
    update book_chapter
    set url = #{url,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      word_count = #{wordCount,jdbcType=INTEGER},
      chapter_id = #{chapterId,jdbcType=INTEGER},
      chapter_time = #{chapterTime,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=BIGINT},
      state = #{state,jdbcType=CHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>